*{
	margin:0;
	padding:0;
	box-sizing:bporder-box;
}
.feature-sec{
	padding:60px 0;
}
.container{
	width:80%;
	margin:auto;
}
.feature-row{
	display:flex;
}
.feature-col{
	width:25%;
	text-align:center;
	padding:12px;
}
.card{
	box-shadow:0 0 5px #ccc;
	position:relative;
	height:340px;
	border-radius:5px;
}
img{
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	position:absolute;
	top:0;
	right:0;
	height:250px;
}
h2{
	position:absolute;
	left:10px;
	bottom:50px;
	font-size:18px;
}
p{
	position:absolute;
	left:10px;
	bottom:30px;
	font-size:15px;
	color:#ccc;
}
h3{
	color:#ccc;
	font-size:15px;
	padding:5px 10px;
}
h3::after{
	content:"";
	position:absolute;
	height:2px;
	width:100px;
	background-color:silver;
	top:35px;
	left:200px;
	top:72px
}
	
}
h1{
	font-size:30px;
	padding-bottom:30px;
	padding-left:10px;
}